Checks: >
    *,-clang-analyzer-alpha.*,
    -llvm-header-guard,-readability-named-parameter,
    -llvm-include-order,
    -misc-non-private-member-variables-in-classes,
    -hicpp-no-array-decay,
    -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
    -cppcoreguidelines-pro-bounds-pointer-arithmetic,
    -cppcoreguidelines-pro-type-reinterpret-cast,
    -cppcoreguidelines-pro-type-const-cast,
    -cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -performance-noexcept-move-constructor,
    -hicpp-noexcept-move,
    -google-runtime-references,
    -google-readability-todo,
    -hicpp-use-equals-delete,
    -fuchsia-default-arguments,
    -fuchsia-overloaded-operator,
    -hicpp-signed-bitwise
WarningsAsErrors: ''
HeaderFilterRegex: 'spacetime.*'
AnalyzeTemporaryDtors: false
FormatStyle: google
CheckOptions:
  - key:             cppcoreguidelines-macro-usage.AllowedRegexp
    value:           '^DECL_ST_*'